<!DOCTYPE html>
<html>
  <head>
    <title>ReviewBookStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'About Us', home_about_path %>
    <%= link_to 'Category', home_category_path %>
    <%= link_to 'Ebooks', home_ebooks_path %>

    <%= render 'home/header' %>



    <div class="container">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
